body {
  width: 100vw;
  background-image: linear-gradient(to right, #6b6b83, #aa4b6b);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.login-content {
  width: 500px;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #bdc3c7, #77828d);
  background: linear-gradient(to right, #bdc3c7, #77828d);
  padding: 30px 60px;
  margin: 0 25%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.register-container {
  width: 500px !important;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #bdc3c7, #77828d);
  background: linear-gradient(to right, #bdc3c7, #77828d);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0 25%;
}

.btn-register {
  background-color: transparent;
  padding: 30px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  width: 100%;
}

.register-container {
  margin-top: 10px;
  width: 100%;
}

#avatar {
  width: 200px;
  margin: 0 auto;
}

.input-div {
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.input-div.email {
  margin-top: 0;
}

.input-div.password {
  margin-bottom: 4px;
}

ion-icon {
  display: flex;
  justify-content: start;
  align-self: center;
  color: #5d727f;
}

.input-div input {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
}

.input-div input:focus {
  background-color: transparent;
  outline: none;
}

.btn {
  margin-top: 5px;
  border-radius: none !important;
}

.btn-login {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn-link {
  color: #000;
  font-style: italic;
}

.btn-link:hover {
  color: #000;
  text-decoration: none;
}

@media (max-width: 576px) {
  .login-content {
    width: 300px;
  }
  .register-container {
    width: 300px !important;
  }
}
